@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* ermald green theme */
    --neon-green:#16F529; /* old color: #c6f97f */
    --normal-green:#49b06e;
    --flat-sea-blue:#0d4e58;
    --sea-blue: #104660;
    --dark-sea-blue:#041732;

    /* ravenclaw theme */
    --dark-navy-blue:#0e1a40;
    --navy-blue:#222f5b;
    --slate-gray:#5d5d5d;
    --golden-brown:#946b2d;
    --black:#000000;
    --papayawhip: #FFEFD5;
}

body {
    @apply text-white font-roboto;
    @apply m-0 p-0
}

.framed {
    @apply text-neon-green;
    box-shadow: -45px -45px 0 -40px var(--neon-green), 45px 45px 0 -40px var(--neon-green);
}

/* * {
    outline: 1px solid red;
} */